/* General styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Form container */
.auth-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Form title */
.auth-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

/* Input fields */
.auth-input {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

/* Submit button */
.auth-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 1em;
}

.auth-button:hover {
    background-color: #0056b3;
}

/* Container for activation message */
.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    position: relative;
}

/* Link styling */
.container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}

/* Error box styles */
#errorBox {
    position: fixed; /* Fixed position to avoid affecting other elements */
    top: 20px; /* Position at the top of the page */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #ffe6e6;
    color: red;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
    display: none; /* Initially hidden */
    opacity: 0; /* Initial opacity */
    transition: opacity 1s ease-out; /* Fade-out animation */
}
